<div class="container">
  <img width="450" src="/assets/pixy-logo.svg" />
  <div class="instructions">
    <h5>Take this JSON and create a carousel of card components filled with the fetched JSON data.</h5>
    <small>Please be sure to use best practices for any secrets, styling, html, grammar, spelling, etc.</small>
  </div>

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--nth slide-->
      <div class="carousel-item" *ngFor="let card of cards$ | async; let i = index" [ngClass]="{ active: i == 0 }">
        <div class="col-md-12">
          <div class="card mb-2">
            <img class="card-img-top" src="https://via.placeholder.com/600X300" alt="Placeholder" />
            <div class="card-body">
              <h4 class="card-title font-weight-bold">{{ card.title }}</h4>
              <p class="card-text">{{ card.description }}</p>
              <a class="btn btn-primary" href="{{ card.url }}"> {{ card.ctaText }}</a>
            </div>
          </div>
        </div>
      </div>
      <!--/.nth slide-->
    </div>
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->

  <br />

  <a
    class="btn btn-outline-success"
    [color]="Colors.Primary"
    [size]="Sizes.Medium"
    [href]="downloadJsonHref"
    download="download.json"
  >
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>JSON Download Button</span>
  </a>
  <br />
</div>
